* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background: #0f0f0e; }

header .encabezado {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly; }
  header .encabezado img {
    padding: 0.3rem; }
  header .encabezado div {
    display: flex;
    flex-direction: column;
    padding: 0.7rem;
    justify-content: center; }

header .imgmenu {
  display: inline-block;
  width: 200px;
  height: 200px; }

header h1 {
  color: #dbbc0a;
  font-family: "Archivo Black", sans-serif;
  text-align: center; }

nav {
  padding: 1rem;
  background-color: black; }
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly; }
  nav a {
    color: #d2df27;
    text-decoration: none;
    padding: 0.07rem;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 1.5s ease;
    text-align: center; }
  nav a:hover {
    background-color: #838383;
    color: #0a0a0a;
    text-align: center;
    transform: scale(1.1, 1.1);
    font-weight: bold;
    border-radius: 0.8rem;
    border: none;
    border-color: #666d00; }

.h2menu {
  padding: 10px;
  color: #dbbc0a;
  text-align: center;
  font-family: "Archivo Black", sans-serif; }

.centro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: #dbbc0a; }
  .centro p {
    border-style: none;
    width: 550px;
    height: 500px;
    color: whitesmoke;
    font-size: 20px;
    line-height: 35px; }
  .centro img {
    width: 500px;
    height: 500px; }

.centro2 {
  display: flex;
  flex-direction: row; }
  .centro2 h3 {
    line-height: 50px;
    font-family: "Archivo Black", sans-serif;
    color: #dbbc0a; }
  .centro2 legend {
    display: flex;
    letter-spacing: 2px;
    line-height: 40px;
    font-family: "Archivo Black", sans-serif;
    color: #dbbc0a;
    justify-content: center;
    align-items: center; }
  .centro2 form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;
    line-height: 25px;
    font-family: "Archivo Black";
    color: #dbbc0a; }
  .centro2 .boton {
    display: inline; }

main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }

div a h2 {
  color: #dbbc0a;
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  padding: 0.5rem;
  text-decoration: underline; }

.crosscompetidor div, .crossclass2 div, .kw3 div, .cardiostrong5 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }
  .crosscompetidor div p, .crossclass2 div p, .kw3 div p, .cardiostrong5 div p {
    border-style: none;
    width: 50%;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: whitesmoke; }
  .crosscompetidor div img, .crossclass2 div img, .kw3 div img, .cardiostrong5 div img {
    width: 50%;
    height: 500px; }

.endurance4 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }
  .endurance4 div p {
    border-style: solid;
    width: 50%;
    height: 450px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: whitesmoke; }
  .endurance4 div img {
    border-style: none;
    width: 600px;
    height: 500px;
    padding: 0.5rem; }

.comprar {
  color: whitesmoke;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  font-family: Arial, Helvetica, sans-serif; }
  .comprar label {
    color: #dbbc0a;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    padding: 0.5rem; }
  .comprar input {
    color: #dbbc0a;
    font-family: "Archivo Black", sans-serif;
    text-align: center;
    padding: 0.3rem; }

.remeras1 div, .buzos2 div, .pantalones3 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.remeras1 img, .buzos2 img, .pantalones3 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
  transition: all 1.5s ease; }

.remeras1 img:hover, .buzos2 img:hover, .pantalones3 img:hover {
  transform: scale(1.1, 1.1);
  font-weight: bold;
  border-radius: 0.8rem;
  border: none;
  border-color: #666d00; }

.mercha4 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }
  .mercha4 div img {
    border-style: solid;
    width: 600px;
    height: 600px;
    padding: 0.5rem;
    transition: all 1.5s ease; }
  .mercha4 div img:hover {
    transform: scale(1.1, 1.1);
    font-weight: bold;
    border-radius: 0.8rem;
    border: none;
    border-color: #666d00; }

.btn {
  color: #0a0a0a; }

.instalaciones1 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.instalaciones1 p {
  border-style: none;
  width: 500px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
  font-size: 20px;
  line-height: 35px; }

.instalaciones1 ul {
  width: 300px;
  height: 400px; }
  .instalaciones1 ul li {
    color: whitesmoke; }

.insta p {
  border-style: none;
  width: 500px;
  height: 80px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
  font-size: 20px;
  line-height: 35px; }

.insta ul {
  width: 300px;
  height: 300px; }
  .insta ul li {
    color: whitesmoke; }

.servicios2 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.servicios2 p {
  border-style: none;
  width: 500px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
  font-size: 20px;
  line-height: 35px; }

.servicios2 ul {
  width: 300px;
  height: 400px; }
  .servicios2 ul li {
    color: whitesmoke; }

.competencias1 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.competencias1 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke; }

.competencias1 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem; }

.videos2 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.videos2 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke; }

.videos2 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem; }

.atletas3 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row; }

.atletas3 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke; }

.atletas3 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem; }

.footer-container-icons {
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.1px solid;
  margin: 10px;
  padding: 10px; }
  .footer-container-icons a {
    color: rgba(245, 245, 245, 0.932); }

.footer-img-lista .footer-img .footer-mapaSitio-img {
  display: flex;
  place-items: center;
  margin: 10px;
  padding: 10px; }

.footer-img-lista .footer-lista .lista-contenido li a {
  color: rgba(245, 245, 245, 0.932);
  text-decoration: none; }

.derechos p {
  color: rgba(245, 245, 245, 0.932); }
