header {
  .encabezado {
    display: flex;
    padding: 1rem;
    justify-content: space-evenly;

    img {
      padding: 0.3rem;
    }
    div {
      display: flex;
      flex-direction: column;
      padding: 0.7rem;
      justify-content: center;
    }
  }
  .imgmenu {
    display: inline-block;
    width: 200px;
    height: 200px;
  }
  h1 {
    color: rgb(219, 188, 10);
    font-family: "Archivo Black", sans-serif;
    text-align: center;
  }
}
