$pcolor: whitesmoke;
@mixin cosa {
  div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  p {
    border-style: none;
    width:500px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: $pcolor;
    font-size: 20px;
    line-height: 35px;
  }
  ul{
    width: 300px;
    height: 400px;
    li{
       color: $pcolor;
      }
}
}
.instalaciones1 {
  @include cosa();
}
.insta{
  p {
    border-style: none;
    width:500px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: $pcolor;
    font-size: 20px;
    line-height: 35px;
  }
  ul{
    width: 300px;
    height:300px;
    font-size: 20px;
    li{
       color: $pcolor;
      }
    }
}
.servicios2 {
  @include cosa();
}
