$pcolor: whitesmoke;
@mixin cosa {
  div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  p {
    border-style: solid;
    width: 600px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: $pcolor;
  }
  img {
    border-style: solid;
    width: 600px;
    height: 500px;
    padding: 0.5rem;
  }
}
.instalaciones1 {
  @include cosa();
}
.servicios2 {
  @include cosa();
}
.equipos3 {
  @include cosa();
}
