.competencias1 {
  div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  p {
    border-style: solid;
    width: 600px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: whitesmoke;
  }
  img {
    border-style: solid;
    width: 600px;
    height: 500px;
    padding: 0.5rem;
  }
}
.videos2 {
  div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  p {
    border-style: solid;
    width: 600px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: whitesmoke;
  }
  img {
    border-style: solid;
    width: 600px;
    height: 500px;
    padding: 0.5rem;
  }
}
.atletas3 {
  div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  p {
    border-style: solid;
    width: 600px;
    height: 500px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0.5rem;
    color: whitesmoke;
  }
  img {
    border-style: solid;
    width: 600px;
    height: 500px;
    padding: 0.5rem;
  }
}
