$bgcolor: #0f0f0e;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: $bgcolor;
}

@import "_header";
@import "_navindex";
@import "_mainindex";
@import "_mainprogramas";
@import "_maintienda";
@import "_maingym";
@import "_mainmedia";
@import "_footer";
