* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #0f0f0e;
}
.encabezado {
  display: flex;
  padding: 1rem;
  justify-content: space-evenly;
}
.encabezado img {
  padding: 0.3rem;
}
.encabezado div {
  display: flex;
  flex-direction: column;
  padding: 0.7rem;
  justify-content: center;
}
.imgmenu {
  display: inline-block;
  width: 200px;
  height: 200px;
}
h1 {
  color: rgb(219, 188, 10);
  font-family: "Archivo Black", sans-serif;
  text-align: center;
}
nav {
  padding: 1rem;
  background-color: black;
}
nav ul {
  list-style-type: none;
  border-style: solid;
  display: flex;
  justify-content: space-evenly;
}
nav ul a {
  color: rgb(210, 223, 39);
  text-decoration: none;
  padding: 0.07rem;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

nav ul a:hover {
  background-color: antiquewhite;
  color: rgb(10, 10, 10);
  font-weight: bold;
}
nav div {
  list-style-type: none;
  border-style: solid;
  display: flex;
  justify-content: space-evenly;
}
nav div a {
  color: rgb(210, 223, 39);
  text-decoration: none;
  padding: 0.07rem;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

nav div a:hover {
  background-color: antiquewhite;
  color: rgb(10, 10, 10);
  font-weight: bold;
}
.h2menu {
  padding: 10px;
  color: rgb(219, 188, 10);
  text-align: center;
  font-family: "Archivo Black", sans-serif;
}
.centro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: rgb(219, 188, 10);
}
.centro p {
  border-style: solid;
  width: 600px;
  height: 500px;
  color: whitesmoke;
}
.centro img {
  width: 400px;
  height: 500px;
}

.centro2 h3 {
  line-height: 50px;
  font-family: "Archivo Black", sans-serif;
  color: rgb(219, 188, 10);
}

.centro2 legend {
  letter-spacing: 2px;
  line-height: 40px;
  font-family: "Archivo Black", sans-serif;
  color: rgb(219, 188, 10);
}
.centro2 form {
  letter-spacing: 2px;
  line-height: 25px;
  font-family: "Archivo Black";
  color: rgb(219, 188, 10);
}
.boton {
  display: inline;
}
main {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
div a h2 {
  color: rgb(219, 188, 10);
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  padding: 0.5rem;
  text-decoration: underline;
}
.crosscompetidor div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.crosscompetidor p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.crosscompetidor img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.crossclass2 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.crossclass2 p {
  border-style: solid;
  width: 400px;
  height: 300px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.crossclass2 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.kw3 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.kw3 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.kw3 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.endurance4 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.endurance4 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.endurance4 img {
  border-style: solid;
  width: 350px;
  height: 500px;
  padding: 0.5rem;
}
.cardiostrong5 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.cardiostrong5 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.cardiostrong5 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}

.comprar {
  color: black;
  text-decoration: none;
  padding: 1rem;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
}
.comprar label {
  color: rgb(219, 188, 10);
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  padding: 0.5rem;
}
.comprar input {
  color: rgb(219, 188, 10);
  font-family: "Archivo Black", sans-serif;
  text-align: center;
  padding: 0.3rem;
}
.remeras1 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.remeras1 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.buzos2 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.buzos2 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.pantalones3 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.pantalones3 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.mercha4 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.mercha4 div img {
  border-style: solid;
  width: 600px;
  height: 600px;
  padding: 0.5rem;
}
.instalaciones1 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.instalaciones1 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.instalaciones1 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.servicios2 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.servicios2 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.servicios2 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.equipos3 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.equipos3 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.equipos3 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.competencias1 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.competencias1 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.competencias1 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.videos2 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.videos2 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.videos2 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
.atletas3 div {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.atletas3 p {
  border-style: solid;
  width: 600px;
  height: 500px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
  color: whitesmoke;
}
.atletas3 img {
  border-style: solid;
  width: 600px;
  height: 500px;
  padding: 0.5rem;
}
/*esto es para768px*/
@media only screen and (max-width: 768px) {
  header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }
  nav ul {
    width: 90%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "prog"
      "tienda"
      "gym"
      "media";
  }
  main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "h2menu"
      "centro"
      "h2menu"
      "centro"
      "centro2";
  }
  .h2menu {
    width: 90%;
    margin: auto;
  }
  .centro {
    padding: 10vw;
    overflow: visible;
    display: flex;
    flex-direction: column;
  }
  .centro p {
    border-style: solid;
    width: 90vw;
    height: 90vw;
    color: whitesmoke;
  }
  .centro img {
    width: 80vw;
    height: 90vw;
  }
  .centro2 {
    overflow: visible;
    padding: 8vw;
    display: flex;
    flex-direction: column;
  }
  nav ul {
    width: 90%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-rows:
      grid-template-colum
      grid-template-areas
      "prog"
      "tienda"
      "gym"
      "media";
  }
  /*esto es para pagina programas*/
  nav ul {
    width: 90%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "crossco"
      "crosscla"
      "kwe"
      "end"
      "cs";
  }
  main {
    padding: 10vw;
    margin: auto;
    display: grid;
    grid-template-areas:
      "crosscompetidor"
      "crossclass2"
      "kw3"
      "endurance4"
      "cardiostrong5";
  }
  .crosscompetidor div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .crossclass2 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .kw3 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .endurance4 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cardiostrong5 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  /*esto es para pagina tienda*/
  nav ul {
    width: 90%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "remeras"
      "buzos"
      "pantalones"
      "merch";
  }
  main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "remeras1"
      "buzos2"
      "pantalones3"
      "mercha4";
  }
  .remeras1 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .buzos2 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .pantalones3 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .mercha4 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  /*esto es para paginas gym*/
  nav ul {
    width: 90%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "inst"
      "serv"
      "equipos";
  }
  main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "instalaciones1"
      "servicios2"
      "equipos3";
  }
  .instalaciones1 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .servicios2 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .equipos3 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  /*esto es para paginas media*/
  nav ul {
    width: 90%;
    margin: auto;
    display: grid;
    text-align: center;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas:
      "compe"
      "video"
      "atletas";
  }
  main {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-areas:
      "competencias1"
      "videos2"
      "atletas3";
  }
  .competencias1 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .videos2 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .atletas3 div {
    overflow: visible;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  /*esto es para320px*/
  @media only screen and (max-width: 320px) {
    header {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 1fr;
    }
    .encabezado {
      display: flex;
      flex-direction: column;
    }
    nav ul {
      width: 90%;
      margin: auto;
      display: grid;
      text-align: center;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "prog"
        "tienda"
        "gym"
        "media";
    }
    main {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-areas:
        "h2menu"
        "centro"
        "h2menu"
        "centro"
        "centro2";
    }
    .h2menu {
      width: 90%;
      margin: auto;
    }
    .centro {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .centro p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      color: whitesmoke;
    }
    .centro img {
      width: 80vw;
      height: 90vw;
    }
    .centro2 {
      overflow: visible;
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: column;
    }
    nav ul {
      width: 90%;
      margin: auto;
      display: grid;
      text-align: center;
      grid-template-rows:
        grid-template-colum
        grid-template-areas
        "prog"
        "tienda"
        "gym"
        "media";
    }
    /*esto es para pagina programas*/
    nav ul {
      width: 90%;
      margin: auto;
      display: grid;
      text-align: center;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "crossco"
        "crosscla"
        "kwe"
        "end"
        "cs";
    }
    main {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-areas:
        "crosscompetidor"
        "crossclass2"
        "kw3"
        "endurance4"
        "cardiostrong5";
    }
    .crosscompetidor div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .crosscompetidor p {
      border-style: solid;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      width: 90vw;
      height: 90vw;
      color: whitesmoke;
    }
    .crosscompetidor img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .crossclass2 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .crossclass2 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .crossclass2 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .kw3 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .kw3 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .kw3 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .endurance4 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .endurance4 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .endurance4 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .cardiostrong5 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .cardiostrong5 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .cardiostrong5 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }

    /*esto es para pagina tienda*/
    nav ul {
      width: 90%;
      margin: auto;
      display: grid;
      text-align: center;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "remeras"
        "buzos"
        "pantalones"
        "merch";
    }
    main {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-areas:
        "remeras1"
        "buzos2"
        "pantalones3"
        "mercha4";
    }
    .remeras1 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .remeras1 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .buzos2 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .buzos2 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .pantalones3 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .pantalones3 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .mercha4 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .mercha4 div img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    /*esto es para paginas gym*/
    nav ul {
      width: 90%;
      margin: auto;
      display: grid;
      text-align: center;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "inst"
        "serv"
        "equipos";
    }
    main {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-areas:
        "instalaciones1"
        "servicios2"
        "equipos3";
    }
    .instalaciones1 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .instalaciones1 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .instalaciones1 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .servicios2 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .servicios2 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .servicios2 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .equipos3 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .equipos3 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .equipos3 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    /*esto es para paginas media*/
    nav ul {
      width: 90%;
      margin: auto;
      display: grid;
      text-align: center;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      grid-template-areas:
        "compe"
        "video"
        "atletas";
    }
    main {
      width: 90%;
      margin: auto;
      display: grid;
      grid-template-areas:
        "competencias1"
        "videos2"
        "atletas3";
    }
    .competencias1 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .competencias1 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .competencias1 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .videos2 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .videos2 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .videos2 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
    .atletas3 div {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
    .atletas3 p {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      font-family: Arial, Helvetica, sans-serif;
      padding: 0.5rem;
      color: whitesmoke;
    }
    .atletas3 img {
      border-style: solid;
      width: 90vw;
      height: 90vw;
      padding: 0.5rem;
    }
  }
}
